//utils
@import "./utils/veriables";
@import "./utils/visually-hidden";
@import "./base/base";
@import "./utils/placeholders";

// components
@import "./components/container";
@import "./components/logo";
@import "./components/header";
@import "./components/header-contacts";
@import "./components/hero";
@import "./components/hero-modal";
@import "./components/advantages";
@import "./components/work";
@import "./components/our-team";
@import "./components/clients";
@import "./components/footer";
          //portfolio
@import "./components/portfolio-btns";
@import "./components/portfolio-cards"; 

