.client__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text);

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
    }
}

.client__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

    @media screen and (min-width: 1200px) {
        margin-top: 0px;
    }

}

.client__item {    
    margin-top: 30px;
    margin-left: 30px;
    width: 100%;        
    flex-basis: calc(100% / 2 - 30px);

    @media screen and (min-width: 768px) {        
        flex-basis: calc(100% / 3 - 30px);
    }

    @media screen and (min-width: 1200px) {        
        flex-basis: calc(100% / 6 - 30px);
        margin-top: 0px;
    }
    
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 92px;   
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    fill: var(--svg-color);
    transition: fill var(--cubic), border-color var(--cubic);

    &:hover, &:focus {
        fill: var(--svg-akcent);
        border-color: var(--svg-akcent);
    }
}