.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg);
}

.footer__container {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: start;
  }
}

.footer__group {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    min-width: 507px;
    justify-content: space-between;
  }
}

.adress {
  margin-top: 20px;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.adress__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--cubic);

  &:hover,
  &:focus {
    color: var(--akcent-text);
  }
}

.footer__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__social-list {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link--fill {
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--svg-akcent);
  }
}

.footer-form {
  @media screen and (max-width: 1199px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-form__input {
  margin-bottom: 20px;
  width: 100%;
  min-height: 50px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  color: #ffffff;
  background-color: inherit;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 12px;
    min-width: 358px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__btn {
  @extend %btn;
  margin: auto;
  justify-content: space-between;
  padding: 10px 29px;

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}
