.contacts {    
    display: none;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (min-width: 1200px) {
        
        flex-direction: row;
        gap: 30px;
    }
}

.contacts__link {
    display: flex;
    align-items: center;    

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text);

    transition: color var(--cubic);

    &:hover, &:focus {
        color: var(--akcent-text);
    }

    @media screen and (min-width: 1200px) {

        font-size: 14px;
        line-height: 1.14;
    }
}

.icon-mail, .icon-phone {
    margin-right: 10px;
    fill: currentColor;
}

@media screen and (min-width: 1200px) {

    .icon-mail {
        width: 16px;
        height: 12px;
    }
    .icon-phone {
        width: 10px;
        height: 16px;
    }
}