.header {
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    margin-left: 93px;
}

.nav__item {
    &:not(:last-child) {
      margin-right: 50px;       
    }
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text);
    transition: color var(--cubic);

    &:hover, &:focus {
        color: var(--akcent-text);
    }
}

.nav__link.current {
    position: relative;
    color: var(--akcent-text);
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--akcent-text);
    border-radius: 2px;
}