.menu-btn {
    position: relative;
    display: block; 
    padding: 0;   
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;   
    z-index: 1; 
}

.menu-btn__icon-close {
    opacity: 0;
 
    .menu-btn.is-open & {
        opacity: 1;
    }
}

.menu-btn.is-open .menu-btn__icon-open {
    opacity: 0;
}
