.card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.card-set__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    background-color: #ffffff;
    transition: box-shadow var(--cubic);

    &:hover, &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

   &:nth-child(3n) {
        margin-right: 0;
    }
    
   &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}

.card-set__thumb {
    position: relative;
    overflow: hidden;
}

.card-set__overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform var(--cubic);

    .card-set__item:hover & {
        transform: translateY(0);
    }
}

.card-set__text {
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.card-set__content {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.card-set__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text);
}

.card-set__name {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}