.work {
    padding-bottom: 94px;
}

.work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text);
}

.work__list {
    margin-top: 50px;
    display: flex;
}

.work__item {
    position: relative;
    max-width: 370px;
    z-index: -1;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
}
