@import "./reset";

body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #212121;
    background: #ffffff;
}
.no-scroll {
    overflow-y: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}